<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../helpers/resources.jinja2" %}
</head>
<body>

    {% include "../navigation/top_default.jinja2" %}
    <div class="bg_container"></div>

    {% block content %} {% endblock %}
</body>
</html>
